<% if flash[:message] %>
   <div class="alert alert-danger">
     <span class="error"><%= flash[:message] %></span>
   </div>
<% end %>

<p class="alert alert-warning">
  Wrong Guesses:
  <span class="guesses"><%= @game.wrong_guesses %></span>
</p>

<p class="alert alert-success">
  Word so far:
  <span class="word"><%= @game.word_with_guesses %></span>
</p>


<form method="post" action="/guess">
  <label for="guess">Guess a letter</label>
  <input type="text" id="guess" name="guess" maxlength="1">
  <input type="submit" value="Guess">
</form>

<%= erb :new %>
